plugin/anything/d3/*.js
!plugin/anything/plugin.js
plugin/chart/*
!plugin/chart/plugin.js
plugin/highlight/*
!plugin/highlight/plugin.js
plugin/markdown/*
!plugin/markdown/plugin.js
plugin/math/*
!plugin/math/plugin.js
plugin/notes/*
!plugin/notes/plugin.js
plugin/particles.js/*
!plugin/particles.js/plugin.js
plugin/revealjs-animated/*
plugin/search/*
!plugin/search/plugin.js
plugin/zoom/*
!plugin/zoom/plugin.js