# Token from https://reveal-js-multiplex-ccjbegmaii.now.sh/token
MULTIPLEX_TOKEN=
MULTIPLEX_ID=
# Presentation credentials
USERNAME=
PASSWORD=
# Spotify background, player, canvas url. Ex: http://localhost:3000 (IMPORTANT: without last "/")
SPOTIFY_URL=http://localhost:3000