USERNAME=
PASSWORD=
# Spotify background, player, canvas url. Ex: http://localhost:3000 (IMPORTANT: without last "/")
SPOTIFY_URL=http://localhost:3000
# Reveal presentation URL
REVEAL_URL=http://localhost:1947