# You can get this credentials from https://developer.spotify.com/dashboard/applications
ACCESS_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
# Delay between spotify internal api calls.
POLLING_INTERVAL=500
# Access token from https://open.spotify.com/get_access_token?reason=transport&productType=web_player            
CANVAS_TOKEN=
# Presentation credentials              
USERNAME=
PASSWORD=      
# Default spotify playlist uri to play. Ex: spotify:playlist:xxxxxxxx
CONTEXT_URI=